<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style>
      a:link {
        color: rgb(0, 0, 95);
        background-color: transparent;
        text-decoration: none;
      }
        
        a:visited {
          color: pink;
          background-color: transparent;
          text-decoration: none;
        }
      .table .thead-light th {
        color: #fff;
 
        background-color: #620000;
       
        border-color: #FF8888;
      }
      th{
        font-size: 18px;
      }

      td{
        font-size: 15px;
        font-weight:bold
      }
      
      table, th, td {
        border: 1px solid black;
      }

      body{
        background-color: #7390c9;  
      }

      </style>

  </head>
<body>
   
  <h2 style="text-align:center;text-decoration: underline 1px black;">{{serviceType}}</h2>
  <center>
  <select id="chooseType">
    <option value="Vehicle Insurance">Vehicle Insurance</option>
    <option value="Health Insurance">Health Insurance</option>
    <option value="Term Insurance">Term Insurance</option>
    <option value="Buisness Licence">Buisness Licence</option>
  </select>
</center>  
  <table class="table table-hover my-3" id="table" style="border-bottom:1px solid black;">
        <thead class="thead-light">
          <th class="font-weight-bold">Sr. No.</th>
          <th class="font-weight-bold">Owner Book</th>
          <th class="font-weight-bold">Previous Insurance Paper</th>
          <th class="font-weight-bold">Name</th>
          <th class="font-weight-bold">Email</th>
          <th class="font-weight-bold">Mobile No</th>
          <th class="font-weight-bold">whatsapp No</th>
          <th class="font-weight-bold">Read</th>
          <th class="font-weight-bold">Status</th>
        </thead>
        <tbody>
        
          {% for j in quotation %}
          <tr id="quotation{{j.id}}">
            <td><button class="delQuotation" name="Vehicle Insurance" id={{j.id}}>{{forloop.counter}}</button></td>
            <td><a style="color:rgb(14, 75, 14);"  href="{{j.ownerBook}}" target="_blank">click it</a></td>
            {% if j.previousInsurancePaper != None %}
            <td><a style="color:rgb(14, 75, 14);"  href="{{j.previousInsurancePaper}}" target="_blank">click it</a></td>
            
            {% else %}
            <td>Not Given</td>
            {% endif %}
            <td>{{j.user.name}}</td>
            <td>{{j.user.email}}</td>
            <td>{{j.user.phno}}</td>
            <td>{{j.user.whatsappPhno}}</td>

            <!-- <td><button class="delQuotation" name="Vehicle Insurance" id={{j.id}}>Delete</button> -->
              &nbsp;&nbsp;&nbsp;&nbsp;
              
              {% if j.readUnread == True %}
              <td><input type="checkbox" class="checkBox" name="Vehicle Insurance" id={{j.id}} value="readUnread" style="width:20px;
              height: 20px;" checked></td>
              {% else %}
              <td><input type="checkbox" class="checkBox" name="Vehicle Insurance" id={{j.id}} value="readUnread" style="width:20px;
              height: 20px;"></td>  
              {% endif %}

              {% if j.status == True %}
              <td><input type="checkbox" class="checkBox" name="Vehicle Insurance" id={{j.id}} value="status" style="width: 20px;
              height: 20px;" checked></td>
              {% else %}
              <td><input type="checkbox" class="checkBox" name="Vehicle Insurance" id={{j.id}} value="status" style="width: 20px;
              height: 20px;"></td>  
              {% endif %}
              
          </tr>
          {% endfor %}
           
        </tbody>
      </table>

    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script>




  $(document).on('click','.checkBox',function(){
    
    console.log($(this).attr("id"));
    console.log($(this).attr("name"));  
    console.log($(this).attr("value"));  

   
    $.ajax({
      method: "GET",
      url: "{% url 'checkboxQuotation' %}",
      data: {id:$(this).attr("id"),checkbox:$(this).attr("value"),serviceType:$(this).attr("name")},
      success: function(data){
        console.log(data.info); 
      }
      });
  });

  $(document).on("click",".delQuotation",function(){
    id = $(this).attr("id")
    serviceType = $(this).attr("name")
    console.log(serviceType+id);
    $("#quotation"+id).fadeOut("fast")
    $.ajax({
      method: "GET",
      url: "{% url 'delQuotation' %}",
      data: {id:id,serviceType:serviceType},
      success: function(data){
        console.log(data.info); 
      }
      });
    
  })
</script>

<script>
  $(document).on('change', 'select[id="chooseType"]', function () {

    let chooseType = $("#chooseType").val();
    
    $.ajax({
      type: 'GET',
      url: "{% url 'getQuotation' %}",
      data: {chooseType: chooseType},
      success: function(data){
        console.log(data.quotation)
        let result = "";
        if(chooseType == 'Vehicle Insurance'){
          console.log(data.quotation)
          $("#table").empty();
          result = 
            ` <thead class="thead-light">
              <th class="font-weight-bold">Sr. No.</th>
              <th class="font-weight-bold">Owner Book</th>
              <th class="font-weight-bold">Previous Insurance Paper</th>
              <th class="font-weight-bold">Name</th>
              <th class="font-weight-bold">Email</th>
              <th class="font-weight-bold">Mobile No</th>
              <th class="font-weight-bold">whatsapp No</th>
              <th class="font-weight-bold">Read</th>
              <th class="font-weight-bold">Status</th>
            </thead>
            <tbody>`
            
            for(i=0;i<data.quotation.length;i++) {
            result += 
               `<tr id="quotation${data.quotation[i].id}">
                <td><button class="delQuotation" name="Vehicle Insurance" id=${data.quotation[i].id}>${i+1}</button></td>
             
                <td><a style="color:rgb(14, 75, 14);"  href="${data.quotation[i].ownerBook}" target="_blank">click it</a></td>`
                
                if (data.quotation[i].previousInsurancePaper != undefined) {
                result += `<td><a style="color:rgb(14, 75, 14);"  href="${data.quotation[i].previousInsurancePaper}" target="_blank">click it</a></td>`}
                
                else{
                result +=  `<td>Not Given</td>`}
                  
                result+=
                `<td>${data.quotation[i].user.name}</td>
                <td>${data.quotation[i].user.email}</td>
                <td>${data.quotation[i].user.phno}</td>
                <td>${data.quotation[i].user.whatsappPhno}</td>`
                
                if (data.quotation[i].readUnread){
                  result+= `<td><input type="checkbox" class="checkBox" name="Vehicle Insurance" id=${data.quotation[i].id} value="readUnread" style="width: 20px;
                  height: 20px;" checked></td>`}
                else{
                  result+= `<td><input type="checkbox" class="checkBox" name="Vehicle Insurance" id=${data.quotation[i].id} value="readUnread" style="width: 20px;
                  height: 20px;"></td>`} 
                if (data.quotation[i].status){
                  result+= `<td><input type="checkbox" class="checkBox" name="Vehicle Insurance" id=${data.quotation[i].id} value="status" style="width: 20px;
                  height: 20px;" checked></td>`}
                else{
                  result+= `<td><input type="checkbox" class="checkBox" name="Vehicle Insurance" id=${data.quotation[i].id} value="status" style="width: 20px;
                  height: 20px;"></td>`}  
                
             }
            result+=  `</tbody>`
            $("#table").append(result);
        }
    
        else if(chooseType == "Health Insurance") {
        $("#table").empty();
        let result = "";
        result = 
          ` <thead class="thead-light">
            <th class="font-weight-bold">Sr. No.</th>
            <th class="font-weight-bold">DOB</th>
            <th class="font-weight-bold">Gender</th>
            <th class="font-weight-bold">Relation</th>
            <th class="font-weight-bold">Name</th>
            <th class="font-weight-bold">Email</th>
            <th class="font-weight-bold">Mobile No</th>
            <th class="font-weight-bold">whatsapp No</th>
            <th class="font-weight-bold">Read</th>
            <th class="font-weight-bold">Stataus</th>
          </thead>
          `
          
          for(i=0;i<data.quotation.length;i++) {
          result+=
          `<tbody id="quotation${data.quotation[i][2].id}"><tr>
          <td><button class="delQuotation" name="Health Insurance" id=${data.quotation[i][2].id}>Applicant ${i+1}</button></td>
          <td></td><td></td><td></td>
          <td>${data.quotation[i][0].user.name}</td>
          <td>${data.quotation[i][0].user.email}</td>
          <td>${data.quotation[i][0].user.phno}</td>
          <td>${data.quotation[i][0].user.whatsappPhno}</td>`
            if (data.quotation[i][2].readUnread){
              result+= `<td><input type="checkbox" class="checkBox" name="Health Insurance" value="readUnread" id=${data.quotation[i][2].id} style="width: 20px;
              height: 20px;" checked></td>`}
            else{
              result+= `<td><input type="checkbox" class="checkBox" name="Health Insurance" value="readUnread" id=${data.quotation[i][2].id} style="width: 20px;
              height: 20px;"></td>`}  
            if (data.quotation[i][2].status){
              result+= `<td><input type="checkbox" class="checkBox" name="Health Insurance" value="status" id=${data.quotation[i][2].id} style="width: 20px;
              height: 20px;" checked></td>`}
            else{
              result+= `<td><input type="checkbox" class="checkBox" name="Health Insurance" value="status" id=${data.quotation[i][2].id} style="width: 20px;
              height: 20px;"></td>`}  
          
          result+= `</tr>`
          for(let j=0;j<data.quotation[i][1].length;j++) {

            result+= `<tr><td>Member ${j+1}</td>
        <td>${data.quotation[i][1][j].dob}</td><td>${data.quotation[i][1][j].gender}</td>
     <td>${data.quotation[i][1][j].relation}</td><td>${data.quotation[i][1][j].name}</td>
     </tr>`;
              console.log(data.quotation[i][1][j])
          }
          result+=  `</tbody>`
        }
          
          $("#table").append(result);
       
      }
    
      else if(chooseType == "Term Insurance") {
      $("#table").empty();
      let result = "";
      result = 
        ` <thead class="thead-light">
          <th class="font-weight-bold">Sr. No.</th>
          <th class="font-weight-bold">DOB</th>
          <th class="font-weight-bold">Gender</th>
          <th class="font-weight-bold">Relation</th>
          <th class="font-weight-bold">Sum Assured in Lacs</th>
          <th class="font-weight-bold">Income Per Annum</th>
          <th class="font-weight-bold">Name</th>
          <th class="font-weight-bold">Email</th>
          <th class="font-weight-bold">Mobile No</th>
          <th class="font-weight-bold">whatsapp No</th>
          <th class="font-weight-bold">Read</th>
          <th class="font-weight-bold">Status</th>
        </thead>
        `
        
        for(i=0;i<data.quotation.length;i++) {
        result+=
        `<tbody id="quotation${data.quotation[i][2].id}"><tr>
        <td><button class="delQuotation" name="Term Insurance" id=${data.quotation[i][2].id}>Applicant ${i+1}</button></td>
        <td></td><td></td><td></td><td></td><td></td>
        <td>${data.quotation[i][0].user.name}</td>
        <td>${data.quotation[i][0].user.email}</td>
        <td>${data.quotation[i][0].user.phno}</td>
        <td>${data.quotation[i][0].user.whatsappPhno}</td>`
          if (data.quotation[i][2].readUnread){
            result+= `<td><input type="checkbox" class="checkBox" name="Term Insurance" value="readUnread"  id=${data.quotation[i][2].id} style="width: 20px;
            height: 20px;" checked></td>`}
          else{
            result+= `<td><input type="checkbox" class="checkBox" name="Term Insurance" value="readUnread" id=${data.quotation[i][2].id} style="width: 20px;
            height: 20px;"></td>`}  
          if (data.quotation[i][2].status){
            result+= `<td><input type="checkbox" class="checkBox" name="Term Insurance" value="status" id=${data.quotation[i][2].id} style="width: 20px;
            height: 20px;" checked></td>`}
          else{
            result+= `<td><input type="checkbox" class="checkBox" name="Term Insurance" value="status" id=${data.quotation[i][2].id} style="width: 20px;
            height: 20px;"></td>`}  
        
        result+= `</tr>`
        for(let j=0;j<data.quotation[i][1].length;j++) {

          result+= `<tr><td>Member ${j+1}</td>
      <td>${data.quotation[i][1][j].dob}</td><td>${data.quotation[i][1][j].gender}</td>
   <td>${data.quotation[i][1][j].relation}</td> <td>${data.quotation[i][1][j].sumAssuredInLacs}</td><td>${data.quotation[i][1][j].incomePerAnnum}</td><td>${data.quotation[i][1][j].name}</td>
   </tr>`;
            console.log(data.quotation[i][1][j])
        }
        result+=  `</tbody>`
      }
        
        $("#table").append(result);
     
    }
    else if(chooseType == "Buisness Licence") {
      console.log(chooseType)
      console.log(data.quotation[0].id)
      console.log(data.quotation[0].user)
      console.log(typeof(data.quotation[0].docs))
      console.log(data.quotation[0].serviceType)
      $("#table").empty();
      let result = "";
      result = 
        ` <thead class="thead-light">
          <th class="font-weight-bold">Sr. No.</th>
          <th class="font-weight-bold">Docs</th>
          <th class="font-weight-bold">Service Type</th>
          <th class="font-weight-bold">User</th>
        </thead>
        `
        
        for(i=0;i<data.quotation.length;i++) {
        result+=
        `<tbody id="quotation${data.quotation[i].id}"><tr>
        <td><button class="delQuotation" name="Buisness Licence" id=${data.quotation[i].id}>Applicant ${i+1}</button></td>
        <td>
        `
        if(typeof(data.quotation[i].docs)=="object") {
        for(j=0;j<data.quotation[i].docs.length;j++)
          {
              result +=`<a href="${data.quotation[i].docs[j]}" target="_blank">docs${j+1}</a>&nbsp;&nbsp;`;
          }}
        result+= `</td><td>${data.quotation[i].serviceType}</td><td>${JSON.stringify(data.quotation[i].user)}</td></tr>`
       
        result+=  `</tbody>`
      }
        
        $("#table").append(result);
     
    }

    }
    });
    
  });
</script>
</body>
</html>